.row.header
  %nav.navbar.navbar-fixed-top
    .navbar-inner
      .container
        %a.btn.btn-navbar.m-btn.blue{data: {toggle: "collapse", target: ".nav-collapse"}}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        %h1.brand
          = link_to "Five Tool Development", home_path

        .nav-collapse
          %ul.nav.pull-right
            %li= link_to "Home", "/", class: "anchorLink"
            %li= link_to "About", "/#about", class: "anchorLink"
            %li= link_to "Portfolio", "/#portfolio", class: "anchorLink"
            %li= link_to "Contact", "/#contact", class: "anchorLink"
            %li= link_to "Blog", "#blog"

%h1 Listing blog_entries

%table
  %tr
    %th Title
    %th Content
    %th
    %th
    %th

  - @blog_entries.each do |blog_entry|
    %tr
      %td= blog_entry.title
      %td= blog_entry.content
      %td= link_to 'Show', blog_entry
      %td= link_to 'Edit', edit_blog_entry_path(blog_entry)
      %td= link_to 'Destroy', blog_entry, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Blog entry', new_blog_entry_path
