%p#notice= notice

= render @blog_entry


= link_to 'Edit', edit_blog_entry_path(@blog_entry)
\|
= link_to 'Back', blog_entries_path

- 5.times do
  %br

= link_to 'Destroy', @blog_entry, method: :delete, data: { confirm: 'Are you sure?' }
