%section.banner
  .container
    %h1
      - if flash[:notice].present?
        = flash[:notice]
      - else
        Five Tool Development
        %br/
        helps small companies do big things

%section.services
  .container
    %h2 Services

    .inner-container
      %article.service-item
        %header
          %i.batch.batch--large.batch-code
          %h3 Development

        %p
          If you have an idea for a new product or service, but you don't have the technical personnel to build it, Five Tool Development can bring your project to successful execution. Our work is test-driven and designed to last. We build software you'll be proud to own.

        %p
          Do you have "legacy" software that needs help? A buggy product built by contract labor? Let us evaluate and rehabilitate your project and get you back on the right track.

      %article.service-item
        %header
          %i.batch.batch--large.batch-users
          %h3 Consulting

        %p
          You have a dream, and we'll help you guide it to launch and success. Five Tool Development can provide the services and advice of a chief technology officer (CTO) at a fraction of the cost of hiring a permanent, full-time team member.

        %p
          We can answer questions about design, architecture, hosting, and hiring. We'll help you find the best resources for your budget. When your launch takes off, you'll already have a plan in place to keep up with growth.

      %article.service-item.hide-mobile
        %header
          %i.batch.batch-lock.batch--large
          %h3 Security

        %p
          It's a dangerous world. Your apps are being probed by the bad guys, who look for an opportunity to exploit your infrastructure or your customers. Five Tool Development can audit your software help you keep threats at bay.

        %p
          We'll work with you to identify risks in your code, infrastructure, and organizational procedure that might jeapordize the safety of your application and your users' data.

%section.portfolio
  .container
    %h2 Some of our recent work

    %section.portfolio-item
      %aside
        = image_tag "http://s3.amazonaws.com/fivetooldev-homepage/district_karaoke-logo.png", alt: "District Karaoke"

      %article
        %p
          District Karaoke is a competitive karaoke league in where the audience votes on performances with their mobile phones. Five Tool Development built a responsive mobile voting application and massive, searchable song catalog that support a wide variety of phones and keeps the party going five nights a week in Washington, DC and Arlington, VA. District Karaoke was a featured event this year at
          %a{href: "http://sxsw.com"} SxSW 2013

          %span> , and with a new administrative back-end and paperless process, will be expanding to other cities across the country this year.

        %p
          Check them out at
          %a{href: "http://votedk.com"}< votedk.com
          %span<> .

    %section.portfolio-item
      %aside
        = image_tag "http://s3.amazonaws.com/fivetooldev-homepage/aft-logo.png"

      %article
        %p
          The
          = link_to "American Federation of Teachers", "http://aft.org"
          needed to inform their members in Cleveland about the effects that a pending collective bargaining agreement would have on their compensation. The complexity of the school district's existing salary scale (which had 216 different ranks) and the various potential outcomes for each member made the task of providing accurate, personalized results to each members a challenge. Five Tool Development built a web application that calculated each member's potential salary outcomes and displayed those results in a responsive design that looks great on the desktop and mobile phones. With an informed membership, the agreement was ratified by a union vote.

        %p
          See the calculator at
          %a{href: "http://ctu-279-compensation.org"}< ctu-279.compensation.org
          %span<> .


    %section.portfolio-item
      %aside
        = image_tag "http://s3.amazonaws.com/fivetooldev-homepage/velocity-logo.png"

      %article
        %p
          = link_to "Velocity", "http://wearevelocity.com"
          is a digital media agency and strategy firm with a focus on progressive causes, unions, and labor organizations. When Velocity wants to develop web applications to support their clients' needs, they turn to Five Tool Development to build and deploy their applications on time and under budget.

        %p
          Five Tool Development provides Velocity with long-term consulting about architecture, infrastructure, and integration challenges.

    %section.portfolio-item
      %aside
        = image_tag "http://s3.amazonaws.com/fivetooldev-homepage/yellowstone-logo.png"

      %article
        %p
          When
          = link_to "Velocity", "http://wearevelocity.com"
          wanted to build out a new set of mobile applications for unions powered by a common back-end, they came to Five Tool Development. We worked with Velocity to develop Yellowstone, a custom-built mobile content management system with a focus on union member engagement. Yellowstone is built on Ruby on Rails and incorporates data from a client's Twitter, Flickr, Facebook, and user RSS feeds through APIs.

    %section.portfolio-item
      %aside
        = image_tag "http://s3.amazonaws.com/fivetooldev-homepage/wheelhouse_review-logo.png"

      %article
        %p
          The
          = link_to "Wheelhouse Review", "http://thewheelhousereview.com"
          is an always smart, often irreverent, and sometimes serious online magazine. Five Tool Development provides the Wheelhouse with strategic advice as they grow and build their brand. Our consulting helped the Wheelhouse implement a better social media strategy. Now the editorial staff is able to track the sources of traffic to their site, identifying the most successful articles and contributors.

%a{name: "contact-form"}
%section.contact-us
  .container
    #get-in-touch.tagline
      %h2 Get in touch

    #contact-form-box
      = form_for ContactMessage.new do |f|
        = f.text_field :name, placeholder: "Your Name", required: true
        = f.text_field :location, type: 'email', placeholder: "address@email.com", required: true
        = f.text_field :email_address, type: 'email', placeholder: "address@email.com"
        = f.text_area :message, placeholder: "Your message", required: true
        %button{type: 'submit'}
          %i.batch.batch-bullhorn
          Send Us a Message
