%section.banner
  .container
    %h1
      - if flash[:notice].present?
        = flash[:notice]
      - else
        Five Tool Development
        %br/
        builds web apps

%section.services
  .container
    %h2 Services

    .inner-container
      %article.service-item
        %header
          %i.batch.batch--large.batch-code
          %h3 Development

        %p
          If you have an idea for a new product or service, but you don't have the technical personnel to build it, Five Tool Development can bring your project to successful execution. Our work is test-driven and designed to last. We build software you'll be proud to own.

        %p
          Do you have "legacy" software that needs help? A buggy product built by contract labor? Let us evaluate and rehabilitate your project and get you back on the right track.

      %article.service-item
        %header
          %i.batch.batch--large.batch-users
          %h3 Consulting

        %p
          You have a dream, and we'll help you guide it to launch and success. Five Tool Development can provide the services and advice of a chief technology officer (CTO) at a fraction of the cost of hiring a permanent, full-time team member.

        %p
          We can answer questions about design, architecture, hosting, and hiring. We'll help you find the best resources for your budget. When your launch takes off, you'll already have a plan in place to keep up with growth.

      %article.service-item.hide-mobile
        %header
          %i.batch.batch-lock.batch--large
          %h3 Security

        %p
          It's a dangerous world. Your apps are being probed by the bad guys, who look for an opportunity to exploit your infrastructure or your customers. Five Tool Development can audit your software and help you keep threats at bay.

        %p
          We'll work with you to identify risks in your code, infrastructure, and organizational procedure that might jeapordize the safety of your application and your users' data.

%section.portfolio
  .container
    %h2 Some of our recent work

    %section.portfolio-item
      %aside
        = image_tag "joyable.svg"

      %article
        %p
          = link_to "Joyable", "https://joyable.com"
          believes that everyone deserves access to great mental health. Their
          goal is to provide better access to proven therapy methods through the
          web. Joyable's platform guides users through an online, 12-week program of
          Cognitive Behavioral Therapy (CBT), a proven technique for coping with
          social anxiety. Users are connected with coaches who help them througout the program.

        %p
          Five Tool Development worked with Joyable's founders throughout their
          intial development to address questions about architecture, security,
          and logistics. After building their product in early 2014, Joyable
          = link_to "raised a round of seed financing", "http://techcrunch.com/2015/03/18/joyable-launches-online-tools-to-help-you-overcome-social-anxiety/"
          and has built out a their team in San Francisco where they continue to grow their service.

    %section.portfolio-item
      %aside
        = image_tag "http://s3.amazonaws.com/fivetooldev-homepage/yellowstone-logo.png"

      %article
        %p
          When
          = link_to "Velocity", "http://wearevelocity.com"
          wanted to build out a new set of mobile applications for unions powered by a common back-end, they came to Five Tool Development. We worked with Velocity to develop Yellowstone, a custom-built mobile content management system with a focus on union member engagement. Yellowstone is built on Ruby on Rails and incorporates data from a client's Twitter, Flickr, Facebook, and user RSS feeds through APIs.

        %p
          = link_to "Yellowstone", "http://yellowstonehq.com"
          is now a critical piece of infrastructure for Velocity's clients, powering many mobile apps with a shared back-end service.

    %section.portfolio-item
      %aside
        = image_tag "http://s3.amazonaws.com/fivetooldev-homepage/aft-logo.png"

      %article
        %p
          The
          = link_to "American Federation of Teachers", "http://aft.org"
          has worked with Five Tool Development to build customized salary calculators for use by their membership in local unions during collective bargaining. Local leaders, after negotiating with school districts for new compensation terms, are able to distribute the calculators to their membership to give them insight into how the new agreement will affect their compensation in coming years, with several paths illustrated for potential promotions and awards. The calculators are responsively designed, and look great on monitors, tablets, and mobile phones.

    %section.portfolio-item
      %aside
        = image_tag "http://s3.amazonaws.com/fivetooldev-homepage/dc-dgs-logo.png"

      %article
        %p
          The
          = link_to "Department of General Services", "http://dgs.dc.gov/"
          is an agency in the government of the District of Columbia charged with managing the real estate assets of the city, including capital improvements, construction, and building services. As part of an ambitious program to reduce municipal energy use, Five Tool Development is building a set of touch-screen television kiosks that will appear in the lobbies of twenty-five municipal buildings. These kiosks will display interactive dashboards with live-updated energy consumption information, helping occupants and visitors understand how their habits and actions affect the environment and the city's management budget.

        %p
          The project is under construction, and will launch in the spring of 2014.

    %section.portfolio-item
      %aside
        = image_tag "http://s3.amazonaws.com/fivetooldev-homepage/district_karaoke-logo.png", alt: "District Karaoke"

      %article
        %p
          District Karaoke is a competitive karaoke league where the audience votes on performances with their mobile phones. Five Tool Development built a responsive mobile voting application (including a massive, searchable song catalog) that supports a wide variety of phones and keeps the party going five nights a week in Washington, DC and Arlington, VA. District Karaoke was a featured event this year at
          %a{href: "http://sxsw.com"} SxSW 2013

          %span> , and with a new administrative back-end and paperless process, will be expanding to other cities across the country this year.

        %p
          Check them out at
          %a{href: "http://votedk.com"}< votedk.com
          %span<> .

%a{name: "contact-form"}
%section.contact-us
  .container
    #get-in-touch.tagline
      %h2 Get in touch

    #contact-form-box
      = form_for ContactMessage.new do |f|
        = f.text_field :name, placeholder: "Your Name", required: true
        = f.text_field :location, type: 'email', placeholder: "address@email.com", required: true
        = f.text_field :email_address, type: 'email', placeholder: "address@email.com"
        = f.text_area :message, placeholder: "Your message", required: true
        %button{type: 'submit'}
          %i.batch.batch-bullhorn
          Send Us a Message
