%section.about
  .container
    %aside
      %figure
        = image_tag "geoff.jpg", size: "300x300"
        %figcaption
          %strong Geoff Harcourt
          %br/
          %em Founder
      %ul.bio-social-links
        %li
          %a{href: "http://twitter.com/geoffharcourt"}
            = image_tag "twitter-flat.png", size: "40x40"
        %li
          %a{href: "https://plus.google.com/117778634767749918473/posts"}
            = image_tag "google_plus-flat.png", size: "40x40"
        %li
          %a{href: "http://www.linkedin.com/in/geoffharcourt/"}
            = image_tag "linkedin-flat.png", size: "40x40"
        %li
          %a{href: "http://github.com/geoffharcourt"}
            = image_tag "github-flat.png", size: "40x40"

    %article
      %p
        Geoff Harcourt knew he liked pushing buttons from a very young age. At the age of three he shut off all hot water in his house until an embarassing visit from the plumber during a mission to flip every switch in the house. In fourth grade he programmed all the Apple IIs in the school computer lap to display the text "I'M GOING CRAZY" in an infinite loop, and earned his first detention. From then on, he managed to put his interest in technology to slightly greater societal benefit.

      %p
        After graduating from Harvard College, Geoff worked in software design and project management roles at CGI Group, Salsa Labs, and Matrix Group. His first hobby personal software project was building a fantasy league website including a live scoring engine from scratch using PHP. The next year he rewrote the entire project in Ruby on Rails.

      %p
        Feeling an itch to be more involved in the craft of creating software, Geoff started Five Tool Development to address the needs of small businesses. In addition to consulting and developing projects for companies, Five Tool Development is developing its own products to assist businesses.



%section.technologies.hide-mobile
  .container
    %h2 Technologies

    %p
      We use the best tools for the job. Five Tool Development