%section.banner
  .container
    %h2 The Company

%section.about
  .container
    %aside#headshot
      %figure
        = image_tag "http://s3.amazonaws.com/fivetooldev-homepage/geoff.png"

        %figcaption
          %strong Geoff Harcourt
          %br/
          %em Founder
      %ul.social-links
        %li
          %a{href: "http://twitter.com/geoffharcourt"}
            = image_tag "http://s3.amazonaws.com/fivetooldev-homepage/twitter-flat.png", size: "40x40"
        %li
          %a{href: "https://plus.google.com/117778634767749918473/posts"}
            = image_tag "http://s3.amazonaws.com/fivetooldev-homepage/google_plus-flat.png", size: "40x40"
        %li
          %a{href: "http://www.linkedin.com/in/geoffharcourt/"}
            = image_tag "http://s3.amazonaws.com/fivetooldev-homepage/linkedin-flat.png", size: "40x40"
        %li
          %a{href: "http://github.com/geoffharcourt"}
            = image_tag "http://s3.amazonaws.com/fivetooldev-homepage/github-flat.png", size: "40x40"

    %article#bio
      %p
        In 2012, Geoff Harcourt started Five Tool Development to address the technology needs of small businesses. Geoff lives, eats, and breathes Ruby. If you're in Washington, DC, come and say hello and meet him at a regular monthly meeting of the DC Ruby Users Group.

      %p
        After graduating from Harvard College, Geoff worked in software design and project management roles at CGI Group, Salsa Labs, and Matrix Group. His first personal software project was building a fantasy league website including a live scoring engine from scratch using PHP. The next year he rewrote the entire project in Ruby on Rails, and has been a Rails enthusiast since then.

      %p
        When he's not coding, Geoff enjoys running, playing soccer, cooking, and watching baseball.
