!!! html
%html{lang: "en"}
  = render template: 'layouts/head_tag'

  %body
    = link_to('Sign Out', sign_out_path, method: :delete)

    = render template: 'layouts/header'

    = yield

    = render template: 'layouts/footer'