%head
  %meta{charset: "utf-8"}
  %title Five Tool Development: Software Consulting and Ruby on Rails Development
  %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
  %meta{name: "description", content: ""}
  %meta{name: "author", content: ""}

  / Le styles
  = stylesheet_link_tag :application

  / Le fav and touch icons
  = favicon_link_tag
  = favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png'
  = favicon_link_tag 'apple-touch-icon-72x72.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '72x72'
  = favicon_link_tag 'apple-touch-icon-114x114.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '114x114'

  = auto_discovery_link_tag(:rss, 'http://blog.fivetool.io/rss')

  :javascript
    window.fbAsyncInit = function() {
      // init the FB JS SDK
      FB.init({
        //appId      : 'YOUR_APP_ID',                        // App ID from the app dashboard
        //channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel file for x-domain comms
        status     : true,                                 // Check Facebook Login status
        xfbml      : true                                  // Look for social plugins on the page
      });

      // Additional initialization code such as adding Event Listeners goes here
    };

    // Load the SDK asynchronously
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/all.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
